#dashboard-content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-background);
    padding: 1rem;
    /* border-radius: 8px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: black;
}

#dashboard-content-title-left {
    display: flex;
    align-items: center;
}

#dashboard-content-title-title {
    font-size: 26px;
    font-weight: 700;
}

#dashboard-content-title-subtitle {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 400;
    color: var(--theme-subtitle);
}

#dashboard-content-title-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#dashboard-content-stats {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

#dashboard-stat-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--theme-text);
}

#dashboard-stat-item span {
    margin-left: 0.5rem;
}

#dashboard-time {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 14px;
}

#dashboard-time i {
    margin-right: 0.5rem;
    color: var(--theme-text);
}

.divider {
    background-color: white;
    width: 1px;
    height: 30px;
    margin-right: 10px;
}
